{% extends 'layeout.html.twig' %}

{% block title %}Ajouter un Realisateur{% endblock %}

{% block main %}
    <h3>Ajout de réalisateur</h3>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                {{ form_start(realisateurForm) }}
                {{ form_widget(realisateurForm) }}
                <br/>
                <button type="submit">Enregistrer</button>
                {{ form_end(realisateurForm) }}

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock javascripts %}
